/*
    Element Selectors
*/

body {
    font-family: monospace;
    background-image: linear-gradient(to top, Azure, #CCCCFF);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0;
}

header {
    background-image: radial-gradient(circle, AliceBlue, LavenderBlush, Lavender);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10% / 20%;
    margin: 5%;
}

footer {
    background-image: radial-gradient(circle, AliceBlue, LavenderBlush, Lavender);
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10% / 30%;
    margin: 5%;
}

h1 {
    font-size: 400%;
    text-align: center;
    margin: 5%;
}

h2 {
    font-size: 300%;
    text-align: center;
    background-image: radial-gradient(circle, AliceBlue, LavenderBlush, Lavender);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10% / 40%;
    margin: 5%;
}

/*
    Class Selectors
*/


.nav-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

    .nav-list li {
        font-size: 175%;
        background-color: #F8C8DC;
        display: inline-block;
        outline-style: solid;
        outline-color: black;
        outline-width: thick;
        padding: 5%;
        border-radius: 10% / 20%;
        margin: 5%;
    }

.minesweeper-game {
    background-image: radial-gradient(circle, AliceBlue, LavenderBlush, Lavender);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 20% / 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-image {
    background-image: radial-gradient(circle, AliceBlue, LavenderBlush, Lavender);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 25% / 20%;
    margin: 4%;
}

.side-bar {
    font-size: 175%;
    background-image: radial-gradient(circle, AliceBlue, LavenderBlush, Lavender);
    width: 30%;
    padding: 5%;
    border-radius: 20% / 20%;
    margin: 2%;
}

.final-text {
    text-align: center;
    margin: 3%;
}

.game-info {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

    .game-info p {
        font-size: 150%;
        text-align: center;
        white-space: nowrap;
        display: inline-block;
        background-color: #F8C8DC;
        align-items: center;
        outline-style: solid;
        outline-color: black;
        padding: 10%;
        border-radius: 10% / 20%;
        margin: 5%;
    }

.cell {
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 1px solid #333;
}

    .cell:active {
        transform: translateY(2px);
    }

/*
    ID Selection
*/

#board {
    display: grid;
    grid-template-columns: repeat(15, 45px);
    grid-template-rows: repeat(15, 45px);
    grid-gap: 4px;
    justify-content: center;
}

#highscore {
    align-items: center;
    outline-style: solid;
    outline-color: black;
    padding: 5%;
    border-radius: 20% / 40%;
    display: inline-block;
    font-size: 150%;
    background-color: #F8C8DC;
    margin: 5%;
}

#game-status {
    text-align: center;
    display: inline-block;
    background-color: #F8C8DC;
    width: 50%;
    height: 10%;
    outline-style: solid;
    outline-color: black;
    padding: 10%;
    border-radius: 10% / 20%;
    margin: 5%;
}

#reset-button {
    font-family: monospace;
    font-size: 150%;
    display: inline-block;
    align-items: center;
    background-color: #F8C8DC;
    outline-style: solid;
    outline-color: black;
    padding: 5%;
    border-radius: 30% / 50%;
    margin: 5%;
}

    #reset-button:active {
        transform: translateY(2px);
    }
